# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual env
.venv/
venv/
env/

# Blender
*.blend1
*.blend2

# Tests artifacts
tests/_output/
tests/_tmp/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
